<div class="reading-detail box_doc">
  <% for( let i = 0; i < contentImages.length; i++ ) { %>
  <div id="page_<%= i %>"><img class="d-block mx-auto" alt="Trang <%= i %>" src="/uploads/<%= contentImages[i] %>"> </div>
  <% } %>
</div>