<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<p>Welcome</p>
	<div>
		<a href="/getUsers">Go to getUsers</a>
	</div>
	<div>
		<a href="/getFormLogin">Go to Login</a>
	</div>
	<div>
		<a href="/formPostComic">Go to formPostComic</a>
	</div>
	<div>
		<a href="/getComic">Go to getComic</a>
	</div>
	<div>
		<a href="/getFormCate">Go to getFormCate</a>
	</div>
</body>

</html>