<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<p>Welcome</p>

	<div>
		<a href="/getFormLogin">Go to Login</a>
	</div>

	<div>
		<a href="/getComic">Go to getComic</a>
	</div>
</body>

</html>